
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-tree-1:before { content: '\e83e'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */